.header {
  background: linear-gradient(rgba(47, 50, 75, 0.85), rgba(47, 50, 75, 0.85)), url("../image/background_header.jpg") no-repeat;
  background-size: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.navigation__list {
  text-align: center;
  gap: 3px;
}

.navigation__item{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.navigation__item-call-me {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.header-text {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  color: rgba(255, 255, 255, 0.75);
  padding: 0 105px;
}

.page__title {
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  margin-bottom: 35px;
}

.header-text__btn {
  background: #15A9CB;
  box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 12px 48px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.header-text p {
  margin-bottom: 90px;
}
